{% extends "_layout/admin-base.njk" %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                <form class="p-4 mx-auto" method="post" style="max-width: 300px;">
                    <img src="/img/logo-03.png" class="logo">
                    <h4 class="m-0 text-center">IT Asset Management</h3>
                    <h3 class="my-2 text-center">Reset Password</h2>
                    <div class="text-center my-3">
                        <small class="mx-2">Please enter your email below to reset password</small>
                    </div>
                    <div class="field">
                        <label for="uid">Email</label>
                        <input type="text" id="uid" class="ctrl" name="uid" required="" autofocus="">
                    </div>
                    <button class="btn warn mt-3 ml-0 w-100" type="submit">Reset Password</button>
                    <div class="text-center mt-4">
                        <a   href="/auth/login">Back to Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <img class="bg-img" src="/img/auth-bg.png" style="">
{% endblock %}

{% block style %}
    <style>
        .logo {
            max-height: 25px;
            margin: 1em auto;
            display: block;
        }
        .container {
            z-index: 100;
            margin-bottom: 12em;
        }
        body {
            display: grid;
            place-items: center;
        }
        .bg-img {
            max-width: 300px;
            position: absolute;
            right: 0;
            bottom: 10px;
            opacity: 0.6;
        }
    </style>
{% endblock %}