{% extends "_layout/auth.njk" %}

{% block content %}
	<form class="p-4 mx-auto" method="post" style="max-width: 300px;">
		<img src="/img/logo-03.png" class="logo">
		<h6 class="m-0 text-center">IT Asset Management</h5>
		<h5 class="my-2 text-center">Change Password</h4>
		<div class="field">
			<label for="uid">New Password</label>
			<input type="text" id="uid" class="ctrl" name="email" required="" autofocus="">
		</div>
		<div class="field">
			<label for="uid">Confirm Password</label>
			<input type="text" id="uid" class="ctrl" name="email" required="" autofocus="">
		</div>
		<button class="btn mt-3 ml-0 w-100" type="submit">Change Password</button>
	</form>
{% endblock %}

