{% extends "_layout/auth.njk" %}

{% block content %}
	<form class="p-4 mx-auto" method="post" style="max-width: 300px;">
		<img src="/img/logo-03.svg" class="logo">
		<h6 class="m-0 text-center">IT Asset Management</h5>
		<h5 class="my-2 text-center">Reset Password</h4>
		<div class="text-center my-3">
			<small class="mx-2">Reset Link has been emailed to you</small>
		</div>
		<div class="text-center mt-4">
			<a href="/auth/login">Back to Login</a>
		</div>
	</form>
{% endblock %}
