{% extends "_layout/base.njk" %}

{% block body %}
    <div class="container-focused-md mt-5" style="max-width: 450px;">
        {{ page_header("Request Succcessfull") }}
        <div class="p-3">
            <a href="./../" class="btn success"> View Request</a>
        </div>
    </div>
{% endblock %}