{% extends "layout/admin-base.njk" %}

{% block content %}
    <h2 class="mb-3">Assets & Devices
    <a class="btn btn-primary float-end" href="/assets/create">New Asset</a>
    </h2>

    <div class="align-items-center p-2 g-2 justify-content-end row align-items-center">
        <div class="col-auto">
            <span>Search </span> &nbsp;
    </div>
        <div class="col-auto">
            <input type="search" class="ctrl" placeholder=""/>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table compact" role="grid">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Model</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Condition</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td><code>{{ item.assetCode  }}</code></td>
                        <td>{{ item.model  }}</td>
                        <td>{{ item.location.name }}</td>
                        <td>{{ tag("asset_status", item.status) }}
                        </span>
                    </td>
                    <td>{{ tag("asset_condition", item.condition) }}</td>
                    <td>
                        <a href="edit/{{ item.id }}"> Edit </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "../layout/paginate.njk" %}
</div>

{% endblock %}