{% extends "layout/admin-base.njk" %}

{% import "forms.njk" as forms %}

{% block content %}
    <form action="" method="post" class="needs-validation" novalidate>
        <h3>Asset</h3>
        <div class="row g-2">
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="assetCode">Asset Code</label>
                <input class="ctrl" name="assetCode" id="assetCode" type="" value="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="model">Model</label>
                <input class="ctrl" name="model" id="model" type="" value="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="serialNo">Serial Number</label>
                <input class="ctrl" name="serialNo" id="serialNo" type="" value="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label>Manufacturer</label>
                <select class="ctrl" name="manufacturer">
                    {% for item in asset_manufacturers %}
                        <option value="{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label>Category</label>
                <select class="ctrl" name="category">
                    {% for item in asset_categories %}
                        <option value="{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label> Location</label>
                <select class="ctrl" name="location">
                    {% for item in asset_locations %}
                        <option value="{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="owner">Owner / User</label>
                <input class="ctrl" name="owner" id="owner" type="number" value="">
            </div>

            <h4>Purchase Information</h4>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label>Supplier</label>
                <select class="ctrl" name="supplier">
                    {% for item in asset_suppliers %}
                        <option value="{{item.id}}">{{item.displayName}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="datePurchased">Date Purchased</label>
                <input class="ctrl" name="datePurchased" id="datePurchased" type="date" value="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="warranty">Warranty Duration</label>
                <input class="ctrl" name="warranty" id="warranty" type="number" value="">
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="dateCommissioned">Date Commissioned</label>
                <input class="ctrl" name="dateCommissioned" id="dateCommissioned" type="date" value="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="expectedLifespan">Expected Lifespan</label>
                <input class="ctrl" name="expectedLifespan" id="expectedLifespan" type="number" value="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="purchaseCost">Purchase Cost</label>
                <input class="ctrl" name="purchaseCost" id="purchaseCost" type="number" value="">
            </div>

            <h3 class="mb-1 mt-3">Specifications</h3>

            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="computer[ram]">RAM</label>
                <input class="ctrl" name="computer[ram]" id="computer[ram]" type="" value="">
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="computer[cpu]">CPU</label>
                <input class="ctrl" name="computer[cpu]" id="computer[cpu]" type="" value="">
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="computer[hddCapacity]">HDD Capacity</label>
                <input class="ctrl" name="computer[hddCapacity]" id="computer[hddCapacity]" type="" value="">
            </div>

            <div class="field" >
                <label for="spec">Other</label>
                <textarea class="ctrl" name="spec"></textarea>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="software">software Specs</label>
                <input class="ctrl" name="software" id="software" type="" value="">
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label for="net">NetworkConfigurations</label>
                <input class="ctrl" name="net" id="net" type="" value="">
            </div>

        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
        <a type="button" class="btn btn-outline-danger mt-3" href="/suppliers/">Back</a>
    </form>
{% endblock %}