{% extends "_layout/admin-base.njk" %}

{% import "macros.njk" as "m"  with context %}

{% block content %}

    {{ m.page_header("Asset Category") }}
    <form action="" method="post" class="mx-3"  >
        <div class="row g-2">
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label>Asset Code</label>
                <input class="ctrl" name="name" value="{{name}}">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label>Computer</label>
                <input class="ctrl" name="computer" type="checkbox" {{"checked" if computer}} value="true">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label>Networked</label>
                <input class="ctrl" name="networked" type="checkbox" {{"checked" if networked}} value="true">
            </div>
        </div>
        <button type="submit" class="btn mt-3">Submit</button>
        <a type="button" class="btn outline danger mt-3" href="/assets-category/">Back</a>
    </form>
{% endblock %}