<turbo-frame id="feed">
    {% for activity in feed.activities %}
        <div class="my-1">
            <div class="lh-1" style="font-size: small;">
                <i class="fas fa-circle-notch text-black-50"></i>
                <b class="text-primary me-1"> {{ activity.meta.action | upper }}</b>
                {{- "by" if activity.user.uid }} <b> {{- activity.user.uid -}}</b>
                {{- " on " + activity.createdAt.toLocaleString([], { year:'numeric',month: 'long', day: 'numeric',hour: '2-digit', minute:'2-digit' }) -}}
            </div>
            <div class="px-3 my-1 mb-2" style="border-left: 2px solid var(--muted);margin-left: 5px;">
                {%- if activity.content.length %}
                    {%- for fd in activity.content -%}
                        <small class="d-block"><b>[ {{ fd.field | upper }} ] </b>
                            {{- fd.bfi }} <i class="fas fa-angle-double-right"></i> {{ fd.afi -}}
                        </small>
                    {%- endfor -%}
                {% else %}
                    <div style="white-space: pre">{{- activity.content.body -}}</div>
                {% endif -%}
            </div>
        </div>
    {% endfor %}

    <button class="btn link mb-2 p-0" type="button"
            onclick="document.querySelector('#post-form').style.display='block';this.style.display='none'"
            data-bs-target="#collapseExample">
        <i class="fa fa-plus-circle"></i> &nbsp; New Post
    </button>

    <form class="mb-2" style="display: none" method="post" action="/feed/{{ feed.id }}/" id="post-form">
        <textarea class="ctrl" rows="4" name="content"></textarea>
        <div class="d-flex">
            {# <span class="mx-2"> #}
            {# <button class="btn link   p-0 text-black-50"><i class="fa fa-at"></i></button> #}
            {# <button class="btn link   p-0 text-black-50"><i class="fa fa-image"></i></button> #}
            {# <button class="btn link   p-0 text-black-50"><i class="fa fa-paperclip"></i></button> #}
            {# </span> #}
            <span class="flex-fill"></span>
            <button class="btn" type="submit">Post</button>
        </div>
    </form>
</turbo-frame>