{% extends "layout/admin-base.njk" %}

{% import "forms.njk" as forms %}

{% block content %}
    <form action="" method="post"  >
        <h3>Asset Location</h4>
        <div class="row g-2">
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label>Name</label>
                <input class="ctrl" name="name" value="{{name}}">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label>Floor</label>
                <input class="ctrl" name="floor" value="{{floor}}">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 field">
                <label>Wing</label>
                <input class="ctrl" name="wing" value="{{wing}}">
            </div>
        </div>
        <button type="submit" class="btmt-3">Submit</button>
        <a type="button" class="btn outline danger mt-3" href="/assets-category/">Back</a>
    </form>
{% endblock %}