{% extends "./base.njk" %}

{% block body %}

    <header class="header">
        <span>
            <i class="sidebar-toggle fa fa-bars"></i>
        &nbsp; IT Manamgent
    </span>
        <span class="flex-fill"></span>
        <a class="text-white me-0" data-turbo="false" href="/auth/logout">
            <i class="far fa-user-circle align-self-center"></i> &nbsp;Dalana
    </a>
    </header>
    <div style="display:flex;height: calc(100% - 40px);">
        <div class="sidebar">
            <div class="nav-list">
                {% for item in sidebar %}
                    <div class="nav-item  {{ " active " if item.active}}">
                        <a class="nav-link {{ " collapsed" if not item.active and item.links}}" href="{{item.href}}">
                            <i class="fa {{item.icon}} nav-icon"></i>
                            <span class="nav-link-text">
                                {{item.label}}
                            </span>
                        </a>
                        {% if item.links %}
                            <div class="font-weight-normal sub-list">
                                {% for link in item.links %}
                                    <a class="nav-item {{ "active" if link.active}}" href="{{link.href}}">{{link.label}}</a>
                                {% endfor %}
                            </div>
                            {% endif%}
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="p-3 w-100 px-lg-5 p-lg-4 overflow-scroll" >
                {% if frame %}
                    <turbo-frame id="{{frame}}">
                    {% endif %}
                    {% block content %}{% endblock %}
                    {% if frame %}
                    </turbo-frame>
                {% endif %}
            </div>
        </div>
    {% endblock %}