{% extends "_layout/admin-base.njk" %}

{% block content %}
    <div class="p-3">
        <h4>Coming soon</h4>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>
    </div>
    <div class="modal" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
{#                <turbo-frame id="feed" src="/suwppliers/create/">#}
{#                    <div class="modal-header">#}
{#                        <h5 class="modal-title">Modal title</h5>#}
{#                        <button type="button" class="btn link" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}

{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#                        <button type="button" class="btn  danger">Save changes</button>#}
{#                    </div>#}
{#                </turbo-frame>#}
            </div>
        </div>
    </div>
{% endblock %}