{% macro link(text, link, class, icon) -%}
    <a href="{{ link }}" class="{{ class }}">
        {%- if icon -%}
            <i class="{{ icon }} mr-2"></i>
        {%- endif -%}
        {{- text -}}</a>
{%- endmacro %}

{%- macro page_header(title) -%}
    <div class="d-flex mx-3 mt-3 justify-content-between">
        <div>
            <div class="text-nowrap">
                {% set comma = joiner("/") %}
                {% for item in breadcrumbs %}
                    {{ comma() }}
                    <a {% if item.link %} href="{{ item.link }}" {% endif %}>{{ item.name }}</a>
                {% endfor %}
            </div>
            <h4>{{ title }}</h4>
        </div>
        {%- if caller -%}
            <div><span style="margin-top: .5em;">{{- caller() -}}</span></div>
        {%- endif %}
    </div>
    {% if flash_msgs.length>0 %}
        <div class="mx-3 my-1">
            {% for msg in flash_msgs %}
                <div class="alert {{ msg.level }}"><i
                            class="fas fa-{{ "check-circle" if msg.level=="success" }}{{ "exclamation-circle" if msg.level=="danger" }} "></i>
                    &nbsp;{{ msg.msg }} </div>
            {% endfor %}
        </div>
    {% endif %}
{%- endmacro -%}

{% macro filter_sbar(cfg) %}
    <form class="mb-2 px-3 d-flex flex-wrap" action="">
        {% for field in cfg %}
            <div class="me-2 mb-2 field">
                <label class="text-nowrap">{{ field.label }}</label>
                {% if (field.type=='select') %}
                    <select data-url="{{ field.url }}" name="filter[{{ field.name }}]" data-allow-clear="true"
                            class="ctrl {{ "init-select" if field.multiple }}" {{ "data-multiple='true'" if field.multiple }}">
                        {% if field.value and field.multiple  %}
                            <option value="{{ field.value }}" selected></option>
                        {% endif %}
                        {% for option in  field.options %}
                            <option value="{{ option.value }}" {{ "selected" if option.value == field.value }}>{{ option.label }}</option>
                        {% endfor %}

                    </select>
                {% elseif (field.type=='text') %}
                    <input type="search" class="ctrl" name="filter[{{ field.name }}]" value="{{ field.value }}">
                {% endif %}
            </div>
        {% endfor %}
        <div class="field">
            <label>&nbsp;</label>
            <div>
                <button class="btn">Search</button>
                <a href="./" class="btn link danger">Reset</a>
            </div>
        </div>
    </form>
    <script>
        document.querySelectorAll("#fiwlter-bar").forEach(el => {
            new Vue({
                el, data: function () {
                    return { filter: {} };
                }, methods: {
                    search: function () {
                        let filterx = this.filter;
                        Object.keys(filterx).forEach((key) => filterx[key] === undefined || filterx[key] === null ? delete filterx[key] : {});

                        if ("Turbo" in window) {
                            let url = new URL(window.location.href);
                            url.search = objToQueryString({ filter: filterx });
                            Turbo.visit(url.href);
                        } else {
                            window.location.search = objToQueryString({ filter: filterx });
                        }
                    },
                }, mounted: function () {
                    let query = Qs.parse(location.search.replace("?", ""));
                    if (query.filter) {
                        this.filter = query.filter;
                    }
                }
            })
        })
    </script>
{% endmacro %}

{% macro filter_bar(cfg) %}
    <filter-bar class="mx-3 d-block" style="min-height: 66px;" fields_data='{{ cfg | dump | replace("'", "") }}'>
        <div class=" mb-2" style="height: 66px;max-width: 180px;">
            <div class="shine lh-1 mb-1" style="width:65%">&nbsp;</div>
            <input class="ctrl shine" readonly/>
        </div>
    </filter-bar>
{% endmacro %}

{% macro field(meta) %}
    {% if (meta.type == "hidden") %}
        <input name="{{ meta.name }}" id="{{ meta.id }}" type="{{ meta.type }}" value="{{ meta.value }}">
    {% else %}
        <div class="col-lg-3 col-md-6 col-sm-12 field">
            <label for="{{ meta.id }}">{{ meta.label }}</label>
            <input class="ctrl" name="{{ meta.name }}" id="{{ meta.id }}" type="{{ meta.type }}"
                   value="{{ meta.value }}">
            {# <div class="invalid-feedback"> Please provide a valid zip. </div> #}
        </div>
    {% endif %}

{% endmacro %}