.paginate_button {
	padding: 0.3em 0.6em;
	margin: 0.2em;
	text-decoration: none !important;
	border-radius: 4px;
	/* background-color: var(--gray-1); */
	color: var(--color);
	transition: background 0.1s ease-in-out;
	display: block;
}

.pagination {
	display: flex;
}

.paginate_button:hover {
	color: var(--color);
	background-color: var(--bg-hover);
}

.paginate_button.active {
	background-color: var(--primary);
	color: var(--bg);
}
.paginate_button.disabled {
	pointer-events: none;
	opacity: 0.3;
}

.ctrl.sm {
	padding: 0.1rem;
}

.btn:hover,
button:hover {
	opacity: 0.8;
	color: var(--bg);
}

.sub-list {
	margin-left: 2em;
	margin-bottom: 0.5em;
}

.sub-list .nav-item {
	display: block;
	border-left: 0.2em solid transparent;
	font-weight: 500;
	border-radius: 0;
	padding: 0.1em 0.4em;
	font-weight: 400;
	color: var(--color);
	transition: background-color 220ms ease-in, border 220ms ease-in;
}

.sub-list .nav-item:hover {
	border-color: var(--bg-hover);
}
.sub-list .nav-item.active {
	border-color: var(--success);
	font-weight: 500;
	animation-duration: 0.5s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		border-left: 0.2em solid var(--bg);
	}

	to {
		border-left: 0.2em solid var(--success);
	}
}
