.paginate_button {
	padding: 0.3em 0.6em;
	margin: 0.2em;
	text-decoration: none !important;
	border-radius: 4px;
	background-color: var(--gray-1);
	color: var(--color);
	display: block;
}

.pagination {
	display: flex;
}

.paginate_button:hover {
	color: var(--color);
	background-color: var(--bg-hover);
}

.paginate_button.active {
	background-color: var(--primary);
	color: var(--bg);
}
.paginate_button.disabled {
	pointer-events: none;
	opacity: 0.3;
}

.ctrl.sm {
	padding: 0.1rem;
}

.btn:hover,
button:hover {
	opacity: 0.8;
	color: var(--bg);
}
