.paginate_button {
	padding: 0.3em 0.6em;
	margin: 0.2em;
	text-decoration: none !important;
	border-radius: 4px;
	/* background-color: var(--gray-1); */
	color: var(--color);
	transition: background 0.1s ease-in-out;
	display: block;
}

.pagination {
	display: flex;
}

.paginate_button:hover {cursor: pointer;
	color: var(--color);
	background-color: var(--bg-hover);
}

.paginate_button.active {
	background-color: var(--primary);
	color: var(--bg);
}
.paginate_button.disabled {
	pointer-events: none;
	opacity: 0.3;
}

.ctrl.sm {
	padding: 0.1rem;
}

.btn:hover,
button:hover {
	/* opacity: 1; */
	color: var(--bg);
	/* box-shadow: var(--shadow); */
	/* transition: box-shadow 0.1s ease-in-out; */
}
.btn:active,
button:active {
	/* box-shadow: none; */
}

.btn.link:hover,
button.link:hover {
	color: var(--primary);
}

.sidebar {
	transition: width 0.5s cubic-bezier(0.34, 0.64, 0.52, 0.99);
}

.sub-list {
	margin-left: 2em;
	margin-bottom: 0.5em;
}

.sub-list .nav-item {
	display: block;
	border-left: 0.2em solid transparent;
	font-weight: 500;
	border-radius: 0;
	padding: 0.1em 0.4em;
	font-weight: 400;
	color: var(--color);
	transition: background-color 220ms ease-in, border 220ms ease-in;
}

.sub-list .nav-item:hover {
	border-color: var(--bg-hover);
}
.sub-list .nav-item.active {
	border-color: var(--success);
	font-weight: 500;
	animation-duration: 0.5s;
	/* animation-name: slidein; */
}
.sidebar .nav-list {
	padding: 0 1em;
}
.sidebar > .nav-list > .nav-item {
	margin-bottom: 0.5em;
}
.sidebar.collapsed .nav-link {
	text-align: left;
}
.sidebar .nav-link {
	white-space: nowrap;
}
.nav-list {
	transition: padding 0.1s cubic-bezier(0.34, 0.64, 0.52, 0.99);
}

.ctrl.group .static {
	padding: 0em 0.5em;
	font-weight: normal;
	display: flex;
	align-items: center;
}
@keyframes slidein {
	from {
		border-left: 0.2em solid var(--bg);
	}

	to {
		border-left: 0.2em solid var(--success);
	}
}
.list-item.active {
	border-top: 2px solid var(--primary);
	border-bottom: 2px solid var(--primary);
	font-weight: 500;
}
.list-item {
	border-top: var(--border);
	padding: 5px 10px;
}
.line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sort-header {
	cursor: pointer;
}

.sort-header:hover {
	background-color: var(--bg-hover);
}
.ctrl.invalid {
	--muted: var(--danger);
}
.field {
	justify-content: start;
}

.turbo-progress-bar {
	background: var(--orange);
}

.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
	color: var(--color);
	border-color: var(--muted);
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
	fill: #394066;
}
.style-chooser button {
	min-height: unset;
}
.style-chooser {
	min-width: 180px;
}
.style-chooser .vs__dropdown-menu {
}
.style-chooser .vs__selected {
	background-color: var(--gray-2);
	border: none;
	color: unset;
	line-height: 1.2;
}

.style-chooser .vs__dropdown-option--highlight {
	background: var(--gray-2);
	color: var(--color);
	/* font-weight: bold; */
}
.style-chooser .vs__dropdown-option {
	white-space: unset;
	color: var(--color);
}
button :disabled,
.btn:disabled {
	opacity: 0.5;
}

.ctrl {
	padding: 0.4rem 0.6em;
	line-height: 1;
}
