{% extends "_layout/admin-base.njk" %}

{% import "forms.njk" as forms %}

{% block content %}
<form action="" method="post"  >
    <h2>Supplier</h2>
    <div class="row g-2">
        {% for field in form.fields %}
        {{ forms.field(field) }}
        {% endfor %}
    </div>
    <button type="submit" class="btn mt-3">Submit</button>
    <a type="button" class="btn outline danger mt-3" href="/suppliers/">Back</a>
</form>
{% endblock %}