{% extends "_layout/admin-base.njk" %}
{% import "forms.njk" as forms %}
{% import "macros.njk" as "m"  with context %}

{% block content %}
    {{ m.page_header("Supplier") }}
    <form action="{{ withParam({}) }}" method="post" class="mx-3">
        <div class="row gx-2">
            {% for field in form.fields %}
                {{ forms.field(field) }}
            {% endfor %}
        </div>
        <div class="my-3">
            <button type="submit" class="btn">Submit</button>
            <a type="button" data-bs-dismiss="modal"  class="btn outline danger" href="/suppliers/">Cancel</a>
        </div>
    </form>
{% endblock %}