{% extends "_layout/admin-base.njk" %}
{% import "macros.njk" as "m"  with context %}
{% block content %}
{% call m.page_header("Suppliers") %}
    <a class="btn btn-primary float-end" href="/suppliers/create">New Supplier</a>
{% endcall %}
 
<div class="align-items-center p-2 g-2 justify-content-end row align-items-center">
    <div class="col-auto">
        <span>Search </span> &nbsp; </div>
    <div class="col-auto">
        <input type="search" class="ctrl" placeholder="" />
    </div>
</div>
<div class="table-responsive">
    <table class="table" role="grid">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Tel</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id  }}</td>
                <td>{{ item.displayName  }}</td>
                <td>{{ item.contactName }}</td>
                <td>{{ item.contactInfo.mobile }} </td>
                <td>{{ item.contactInfo.email }}</td>
                <td class="text-nowrap"> <a href="{{ item.id }}/edit/"> Edit </a> | <a class="text-danger" href="{{ item.id }}/delete/"> Delete </a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
 {% include "../../_layout/paginate.njk" %}
</div> {% endblock %}