{% extends "layout/admin-base.njk" %}

{% block content %}
    <h2 class="mb-3">Users Roles
    <a class="btn btn-primary float-end" href="create">Create Role</a>
    </h2>

    <div>
        <table class="table" role="grid">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.id  }}</td>
                        <td>{{ item.name  }}</td>
                        <td>
                            <a href="edit/{{ item.id }}"> Edit </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {# {% include "../../layout/paginate.njk" %} #}
{% endblock %}