<div style="font-family : sans-serif; ">
	<div>Dear {{ user.name }},</div>
	<p>We've received a request to reset the password on your Zismith account.</p>
	<p>If you requested a password reset, Click Below to reset your password.</p>
	<p>
		<a style="font-weight: bold; padding: .5em .7em;background-color: #0d6efd;border-radius: 4px; color: white;" href="http://localhost:3000/auth/reset-password/?token={{token}}">Reset Password</a>
	</p>
	<p>This link will expire 1 day from now.</p>
	<p>If you didn't request a reset, there is no need to take any action.</p>
	<p>Thanks,The Zismith Team</p>
</div>
