<div style="margin:0 auto;max-width:300px">
	<p>
		Dear
		{{ user.name }},</p>
	<p>We've received a request to reset the password on your Zismith account.</p>
	<p>If you requested a password reset,<a href="">click this link</a>to reset your password.</p>
	<p>This link will expire 1 day from now.</p>
	<p>If you didn't request a reset, there is no need to take any action.</p>
	<p>Thanks,The Zismith Team</p>
</div>

