{% extends "_layout/admin-base.njk" %}
<!--  -->
{% block content %}
<div class="m-3" style="max-width: 600px;">
	<h5>Available Reports</h4>
		<h6>Assets</h6>
	<ul>
		<li><a href="asset-count-category">Location based Count of Category</a></li>
		<li><a href="asset-user-ip">Asset User / IP</a></li>
		<li><a href="asset-user-ip/?noip=true">Asset User IP - (Empty IP Addresses)  </a></li>
		<li><a href="backup-assets">Backup Assets</a></li>
	</ul>
	<h6>Servicing</h6>
	<ul>
		<li>
			<a href="service-time-analysis">Service Time Analysis</a>
		</li>
	</ul>
</div>
{% endblock %}
