{% extends "layout/admin-base.njk" %}

{% import "forms.njk" as forms %}

{% block content %}
<form action="/dalana" method="post">
    <h3>Sign Inqqw</h3>
    <button type="submit" class="btn btn-primary my-3">Confirm identity</button>
</form>
{% endblock %}
