{% import "macros.njk" as "m"  with context %}
{% from "macros.njk" import page_header, link, filter_bar with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/dalanad/helix@0.0.14/dist/helix.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vue-select@3.11.2/dist/vue-select.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" data-turbo-track="reload">
    <script src="https://cdn.jsdelivr.net/gh/dalanad/helix@0.0.14/dist/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.0.0-beta.4/dist/turbo.es5-umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="/main.bundle.js" data-turbo-track="reload"></script>
    <script src="/js/vendor/pristine.min.js" data-turbo-track="reload"></script>
</head>
<body>
{%- block body -%}{%- endblock -%}
{%- block style -%}{%- endblock -%}
<script>Object.assign(window, { client_vars: {{ client_vars|dump if client_vars else "{}" }}})</script>
{%- block script -%}{%- endblock -%}
</body>
</html>