<header class="header">
    <span><i class="sidebar-toggle fa fa-bars"></i> &nbsp;<a href="/" class="btn text-white me-0 link"> Nawaloka Hospitals PLC</a> </span>
    <span class="flex-fill"></span>
    <div class="dropdown">
        <button class="btn text-white me-0 link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-user-circle align-self-center"></i> &nbsp;Dalana
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/auth/profile/"><i class="fa fa-user me-2"></i> Profile</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa fa-question-circle me-2"></i> Help</a></li>
            <li><a class="dropdown-item" href="/auth/logout/"><i class="fa fa-sign-out-alt me-2"></i> Logout</a></li>
        </ul>
    </div>
</header>