<div class="p-2">
    <a href="#" class="btn link" onclick="params({selected:null})">
        <i class="fa fa-arrow-left"></i>&nbsp; View All / Modifiy Filters</a>
</div>
<div>
    <div class="list" style="    overflow: scroll;    height: 100%;">
        {%- for item in items -%}
            <div onclick="params({selected:{{item.id}}})" class="list-item  {{"active" if item.id == asset.id else "hover" }}">
                <div class="line lh-1 d-flex justify-content-between" >
                    <span>
                        <b>{{item.assetCode}}</b>
                        {{ item.category.name  }}
                        -
                        {{ item.model  }}
                    </span>
                    <small class="float-end " style="line-height: 1.3;">{{ tag("asset_condition", item.condition) }}</small>
                </div>
                <div class="line">

                    <small>{{ tag("asset_status", item.status) }}
                        {{ item.location.name }}
                        -
                        {{ item.owner  }}</small>
                </div>

            </div>
        {%- endfor -%}

    </div>
</div>
{% include "../_layout/paginate.njk" %}

{% block styles %}
    <style></style>
{% endblock %}