{% extends "_layout/admin-base.njk" %}
{% import "macros.njk" as "m" %}

{% block content %}

    {% call m.page_header("Assets & Devices") %}
    {{ m.link("New Asset","/assets/create","btn") }}
    {% endcall %}
    <filter-bar :fields='{{ filterConfig | dump | replace("'", "")}}'><div class=" mb-2" style="height: 66px;max-width: 180px;" ><div class="shine lh-1 mb-1" style="width:65%">&nbsp;</div><input class="ctrl shine" readonly/>
</div>
</filter-bar>
<div class="table-responsive">
<table class="table compact" role="grid">
    <thead>
        <tr>
            <th data-field="assetCode">Code</th>
            <th data-field="category][name">Category</th>
            <th data-field="model">Model</th>
            <th data-field="location][name">Location</th>
            <th data-field="owner">Owner</th>
            <th>Status</th>
            <th>Condition</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%- for item in items -%}
            <tr>
                <td>
                    <a href="{{withParam({selected : item.id })}}">
                        {{item.assetCode}}
                    </a>
                </td>
                <td>{{ item.category.name  }}</td>
                <td>{{ item.model  }}</td>
                <td>{{ item.location.name }}</td>
                <td>{{ item.owner  }}</td>
                <td>{{ tag("asset_status", item.status) }}</td>
                <td>{{ tag("asset_condition", item.condition) }}</td>
                <td>
                    <a href="{{withParam({selected : item.id })}}">View
                    </a>
                    &nbsp;| &nbsp;
                    {{ m.link("Edit","../" + item.id + "/edit/" ) }}
                </td>
            </tr>
        {%- endfor -%}
    </tbody>
</table>
{% include "../_layout/paginate.njk" %}
</div>
</div>

{% endblock %}