{% extends "_layout/admin-base.njk" %}
{% import "macros.njk" as "m" with context %}

{% block content %}
        <div style="display: grid;grid-template-columns: minmax(100px,2fr) 3fr;grid-template-rows: 1fr; height: 100%;">
            <div class="border-end">
                {% include "./asset-list-compact.njk" %}
            </div>
            <div>
                {% call m.page_header("Asset Summery") %}
                    <a class="btn link" href="../{{ asset.id }}/edit/"> <i class="fas fa-pen"></i>&nbsp; &nbsp;Edit</a>
                    <a class="btn link warn" href="../{{ asset.assetCode }}/print-sticker" data-trubo="reload"> <i
                                class="fas fa-qrcode"></i> &nbsp; &nbsp; Print Sticker </a>
                    {% if asset.status == "IN_USE" %} <a class="btn warn" href="../{{ asset.id }}/status/?to=backup">
                            Make
                            Backup </a>{% endif %}
                    {% if asset.status == "NOT_IN_USE" %} <a class="btn success"
                                                             href="../{{ asset.id }}/status/?to=in_use">
                        Make In Use </a> {% endif %}
                    {% if asset.status != "DISCARDED" %} <a class="btn danger" href="../{{ asset.id }}/discard/">
                        Discard </a> {% endif %}
                {% endcall %}

                <div class="p-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div> Asset Code : <b class="m-0"> {{ asset.assetCode }} </b></div>
                            <div> Model Number : {{ asset.model }}</div>
                            <div> Serial Number : <code>{{ asset.serialNo }}</code></div>
                            <div class="text-nowrap"> Status : {{ tag("asset_status",asset.status) }} </div>
                            <span class="text-nowrap"> Condition : {{ tag("asset_condition",asset.condition) }} </span>
                            <p>
                                Location : <b>{{ asset.location.name }}</b><br/>
                                Category : {{ asset.category.name }}<br/>
                                Manufacturer : {{ asset.manufacturer.name }}<br/>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            Owner : {{ asset.owner }} <br/>
                            Supplier : {{ asset.supplier.displayName }} <br/>
                            Date Purchased : {{ asset.datePurchased | date }} <br/>
                            Warranty Expiry : {{ asset.warrantyEnd | date }}
                            <span class="tag {{ 'success' if asset.onWarranty else 'danger' }}">Warranty {{ 'Available' if asset.onWarranty else 'Expired' }} </span>
                            <br/>
                            Date Commissioned : {{ asset.dateCommissioned | date }} <br/>
                            Sticker Printer
                            : {{ asset.stickerPrinted.toLocaleString() if asset.stickerPrinted else "Not Printed" }}
                        </div>
                    </div>

                    <table class="compact">
                        <thead>
                        <tr>
                            <th>Param</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Specification</td>
                            <td>
                                <div style="white-space: pre-wrap;">{{ asset.spec }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>CPU</td>
                            <td>{{ asset.computer.cpu }}</td>
                        </tr>
                        <tr>
                            <td>RAM</td>
                            <td>{{ asset.computer.ram }}GB</td>
                        </tr>
                        <tr>
                            <td>HDD / SSD</td>
                            <td>{{ asset.computer.hddCapacity }}GB</td>
                        </tr>
                        <tr>
                            <td>IP</td>
                            <td>{{ asset.net.ip }}</td>
                        </tr>
                        <tr>
                            <td>Gateway</td>
                            <td>{{ asset.net.gateway }}</td>
                        </tr>
                        <tr>
                            <td>Subnet</td>
                            <td>{{ asset.net.subnet.cidr }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <b class="my-2 d-block">Activity Feed</b>
                    <div>
                        <turbo-frame id="feed" src="/feed/{{ feed.id }}/"></turbo-frame>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
