<div class="row justify-content-between m-0 mt-3 align-items-baseline">
    <div class="col-auto align-items-baseline row">
        <div class="col-auto">
            <label class="col-form-label">Showing
                {{page*size + 1 }}
                to
                {{total if (((page + 1 ) * size) > total) else ((page + 1 ) * size )  }}
                of
                {{total}}
            </label>
        </div>
        <form class="col-auto">
            <select class="ctrl sm" name="size" onchange="window.location.search='?size='+this.value+'&{{sort}}'">
                {% for i in [5,10,25,50,100] -%}
                    <option value="{{i}}" {{"selected" if i==size}}>{{i}}</option>
                {% endfor %}
            </select>
        </form>
        Per Page
    </div>
    <div class="col-auto">
        <div class="pagination">
            <a href="?page={{page-1}}&size={{size}}&{{sort}}" tabindex="0" class="paginate_button {{" disabled" if page==0}}">
                <i class="fa fa-chevron-left"></i>
            </a>
            {% for i in collapseRange((total / size), page, 8) %}
                {%- if (i !== -1) %}
                    <a href="?page={{i}}&size={{size}}&{{sort}}" tabindex="0" class="paginate_button {{" active" if page==i}}">{{ i+1 }}</a>
                {%- else -%}
                    <div  class="paginate_button disabled  px-0">
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                {%- endif -%}
            {%- endfor -%}
            <a href="?page={{page+1}}&size={{size}}&{{sort}}" tabindex="0" class="paginate_button {{" disabled" if (page)>= (total//size)}}">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>