{% extends "_layout/admin-base.njk" %}

{% block content %}
    {% call page_header("Asset Main Locations") %}
        <a class="btn btn-primary float-end" href="create">New Location</a>
    {% endcall %}
    <div>
        <table class="table paded" role="grid">
            <thead>
            <tr>
                <th scope="col" data-field="id">#</th>
                <th scope="col" data-field="name">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>

                    <td class="text-nowrap">
                        <a class="btn link" href="{{ item.id }}/edit/">
                            Edit
                        </a>
                        |
                        <a class="btn link danger" href="{{ item.id }}/delete/">
                            Delete
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "../../_layout/paginate.njk" %}
{% endblock %}